@import 'variables';
@import 'mixins';

html {
  height: 100vh;
}

body {
  background-color: $primary-background;
  // background-image: url('globe-3383088_1920.jpg');
  font-family: 'Source Code Pro', monospace;
}

main {
  display: grid;
  grid-template-columns: minmax(150px, 25%) 1fr;
  justify-content: center;
}

.hidden {
  display: none;
}

.user-display {
  background-color: $primary-background;
  @include box-construction(border-box, 1em, 2px solid #000);
  @include common-flex-display(flex, flex-start, column, center, fit-content);
  @include padding-margin($margin-size, $margin-size);
  height: 100%;
}

.greeting {
  border-bottom: 1px solid;
}

.book-trip-bar {
  background-color: $primary-background;
  @include box-construction(border-box, 1em, 2px solid #000);
  @include common-flex-display(flex, center, row, center, auto);
  @include padding-margin($margin-size, $margin-size);
  margin-left: $margin-size;
}

.current-trip {
  background-color: $primary-background;
  @include box-construction(border-box, 1em, 2px solid #000);
  @include common-flex-display(flex, center, column, center, auto);
  @include padding-margin($margin-size, $margin-size);
  margin-left: $margin-size;
}

.current-trip-picture {
  width: 50%;
}

.trip-picture {
  width: 100%;
}

.past-trips {
  background-color: $primary-background;
  @include box-construction(border-box, 1em, 2px solid #000);
  @include common-flex-display(flex, center, column, center, auto);
  @include padding-margin($margin-size, $margin-size);
  margin-left: $margin-size;
}

.past-trip-card {
  @include basic-flex-display(flex, row);
  @include center(center, center);
  flex-wrap: wrap;
}

.trip-card {
  @include box-construction(border-box, 1em, 2px solid #000)
  padding: $margin-size;
  margin: $margin-size;
  width: 300px;
}

.upcoming-trips {
  background-color: $primary-background;
  @include box-construction(border-box, 1em, 2px solid #000);
  @include common-flex-display(flex, center, column, center, auto);
  @include padding-margin($margin-size, $margin-size);
  margin-left: $margin-size;
}

.upcoming-trip-cards {
  @include basic-flex-display(flex, row);
  @include center(center, center);
  flex-wrap: wrap;
}

//------Media Queries------//

@media(max-width: 1060px) {

  main {
    display: grid;
    grid-template-columns: auto;
    grid-gap: $margin-size;
  }

  .user-display {
    width: 99%;
    margin: $margin-size;
    height: auto;
  }

  .book-trip-bar {
    margin-top: $margin-size;
  }

  .hidden {
    display: none;
  }
}

@media(max-width: 895px) {

  main {
    place-items: center;
  }

  .trip-section {
    @include basic-flex-display(flex, column);
    @include center(center, center);
    align-items: center;
  }

  .user-display, .book-trip-bar, .current-trip, .upcoming-trips, .past-trips {
    width: 60%;
  }

  .book-trip-bar {
    @include basic-flex-display(flex, column);
  }

  .hidden {
    display: none;
  }
}

@media(max-width: 530px) {

  .upcoming-trips, .past-trips {
    border: none;
  }

  .destination-menu {
    width: 200px;
  }

  .hidden {
    display: none;
  }

}
